<body>
  
  <div class="col-sm-2 mt-4">
    <a class="btn btn-dark" href="/administrative">Go to Admin Portal</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="body">Description</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price">
            
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="custom-select" id="category">
                <option value="Personal">Personal</option>
                <option value="Product Review">Product Review</option>
                <option value="Political">Political</option>
                <option value="Political">Product</option>
              </select>
            </div>
            
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{{!-- <body>
  <ul class="nav justify-content-end">
  	<li class="nav-item">
    	<a class="nav-link active" href="#">Categories</a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link" href="#">Orders</a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link" href="#">Cart</a>
  	</li>
	</ul>
</body>


<style media="screen">
  h1 {
    color: red;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>Products {{User}}</h1>

<ul>
{{#each item}}
  <p>Product: {{name}}</p>
  <p>Description: {{description}}</p>
  <p>Price: ${{price}}</p>
  <hr>
{{/each}}
</ul> --}}
